{% load i18n sizeformat %}
{% load url from future %}
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
</style>
<h3>{% trans "Department Overview" %}</h3>
<div class="status row-fluid detail">
    <dl>
        <dt>{% trans "Name" %}</dt>
        <dd>{{ group.name }}</dd>
        <dt>{% trans "ID" %}</dt>
        <dd>{{ group.id }}</dd>
        <dt>{% trans "Description" %}</dt>
        <dd>{{ group.description|default:"None" }}</dd>
        <dt>{% trans "Status" %}</dt>
        <dd>{{ group.status }}</dd>
        <!--
        <dt>{% trans "Image Name" %}</dt>
        <dd>{{ group.image_name}}</dd>
        <dt>{% trans "Image" %}</dt>
        <dd>
            <table style="width:600px">
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Description</th>
                </tr>
                {% for image in group_image %}
                    <tr>
                        <td>{{image.name }}</td>
                        <td>{{image.id}}</td>
                        <td>{{image.description}}</td>
                    </tr>
                {% endfor %}
            </table>
        </dd>
        -->
    </dl>
</div>
